.banner {
  object-fit: contain;
  height: 700px;
  background-size: cover;
  background-position: center center;
  margin: 0px;
}
.banner__contents {
  padding-top: 160px;
  padding-left: 30px;
  height: 190px;
}
.banner__heading {
  color: white;
  font-size: 4rem;
  font-weight: 600;
  margin-left: 25px;
  margin-bottom: 20px;
}
.banner__buttons {
  margin-left: 20px;
  text-align: left;
  margin-bottom: 20px;
}
.banner__button {
  margin-right: 20px;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
}
.banner__button:hover {
  cursor: pointer;
  background-color: rgba(51, 51, 51, 0.2);
  transition: all 0.4s;
}
.banner__text {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  max-width: 360px;
  width: 45rem;
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.3rem;
}
.banner--fadeBottom {
  height: 350px;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
