.row {
  margin-left: 20px;
}
.row__title {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
}
.row__posters {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  padding: 20px;
}
.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 400px;
  margin-right: 15px;
  transition: transform 450ms;
}
.row__poster:hover {
  cursor: pointer;
  transform: scale(1.08);
  opacity: 1;
}

.row__poster__small {
  object-fit: contain;
  width: 100%;
  max-height: 200px;
  margin-right: 15px;
  transition: transform 450ms;
}
.row__poster__small:hover {
  cursor: pointer;
  transform: scale(1.08);
  opacity: 1;
}
